extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= project.project_name

        p.lead.text-light= project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6= project.technologies

        ul
          li HTML
          li CSS
          li JavaScript

        a.button.expanded(href=`${project.live_link}`) Live Demo
        a.button.expanded(href=`${project.github_link}`) GitHub Repo

    video.videoThumb(autoplay="true" loop muted playsinline)
        source(src=`${project.video_source}.mp4` type='video/mp4')
        source(src=`${project.video_source}.ogg` type='video/ogg')
        |    Your browser does not support the video tag.
    
    //- each thumb in thumbs
    //-   img.image(src=thumb)
